{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="row">
                <img class="w-75 mx-auto" id="banner"
                    src="assets/images/golf pan (1i).png"
                    alt="golf panoramic">
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <a class="nav-link text-white btn btn-danger mx-auto mt-5 d-block fit-width"
                    href="{% url 'online_booking' %}">
                    Book Now
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mt-3">
                <div class="w-75 mx-auto mt-2 text-center">
                    <h3>
                        Welcome to Galway Golf Club
                    </h3>

                    <br>

                    <p>
                        Set on the banks of Lough Corrib, the scenic Galway Golf Course is situated only 20 kilometers from the vibrant city of Galway. The course is designed by Ryder Cup legend Padraig Larrington and is recognised as one of the best 9 Hole Golf Courses in the Republic of Ireland.The course offers a unique and challenging experience to golfers of all levels. It is located on the grounds of the historic Grainne Mhaol castle, the course welcomes visitors from around the world.
                    </p>
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <img id=""
                    src=""
                    alt="" class="mt-3 mx-auto d-block">
            </div>
        </div>
    </div>
</div>

{% endblock %}